name: tests
on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
jobs:
  test:
    environment: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        pip install -e .[dev]
    - name: Lint
      run: ruff check
    - name: Format check
      run: ruff format --check
    - name: Type check
      run: mypy .
    - name: Coveralls
      if: github.event_name != 'pull_request'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        client_id: ${{ secrets.CLIENT_ID }}
        auth_token: ${{ secrets.AUTH_TOKEN }}
      run: |
        coverage run --source=soundcloud -m pytest
        coveralls --service=github